<h1></h1>
{{Home}}
{{server}}

<head>
<style>
	header{
		background: white;
		opacity: 0.6;
		
	}
	body {
		background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSDMIAmRpxImKqoPTNerWqXv1XKYtQwVBocwWOIPWCQ-w-wQH0f');
		background-size: cover;
	}

</style>
</head>
<header>
<main class="cd-main">
    <nav class="cd-primary-nav">
      <ul>
        <!-- inser more links here -->
        <li><a href="/home">Home</a></li>
        <li><a href="logout">Logout</a></li>
        <li><a href="#0">Pricing</a></li>
      </ul>
    </nav> <!-- cd-primary-nav -->
    </header>
    <body>
    </body>